<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Taiwanese PERM Statistics</title>

        <!-- Bootstrap core CSS -->
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'tw_perm/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'tw_perm/css/custom-animations.css' %}">
        <link rel="stylesheet" href="{% static 'tw_perm/css/style.css' %}">


    </head>

    <body>

        <! -- ********** HEADER ********** -->
        <div id="h">
            <div class="container">
                <div class="row">
                    <div>
                        <button class="btn btn-lg btn-info btn-register" id="qa_button" href="#">
                        What's PERM?</button>
                    </div>
                    <div class="col-md-10 col-md-offset-1 mt">
                        <h1 class="mb">Taiwanese PERM Wage Statistics</h1>
                    </div>
                    <div class="col-md-12 mt hidden-xs">
                        <img src="{% static "tw_perm/img/graph.png" %}" class="img-responsive aligncenter" alt=""
                             data-effect="slide-bottom">
                    </div>
                </div>
            </div>
        </div>

        <! -- ********** FIRST ********** -->
        <div id="w">
            <div class="row nopadding">
                <div class="col-md-5 col-md-offset-1 mt">
                    <h4>Top 10 Companies</h4>
                    <p>
                        From October, 2007 till {{ end_mon }}, {{ end_year }}, there are {{ approved_perm }} approved
                        application out of total {{ total_perm }} PERM petition cases.
                    </p>
                    <p>Below is the Top ten companies for filing PERM: </p>
                    <table class="top_10_tables">
                        <tr>
                            <th>Company</th><th>Cases</th><th>Percent</th>
                        </tr>
                        {% for label in top_10_com_count %}
                            <tr >
                                <td>{{ label.0 }}</td><td>{{ label.1 }}</td><td>{{ label.2 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="mt"><button class="btn btn-info btn-theme" id="more_1">more</button></p>
                </div>

                <div class="col-md-6 pull-right">
                    <div id="top_10_com_donut" class="img-responsive aligncenter" alt="" data-effect="slide-right">
                    </div>
                </div>
            </div>
        </div>


    <! -- ********** BLUE SECTION - PICTON ********** -->
    <div id="picton">
        <div class="row nopadding">
            <div class="col-md-6 pull-left" style="margin-top: 100px;">
                <div id="top_10_state_donut" class="img-responsive aligncenter" alt="" data-effect="slide-left">
                </div>
            </div>
            <div class="col-md-5 mt">
                <h4>Top 10 States</h4>
                <p>
                    From October, 2007 till {{ end_mon }}, {{ end_year }}, there are {{ approved_perm }} approved
                    application out of total {{ total_perm }} PERM petition cases.
                </p>
                <p>Below is the Top ten states for filing PERM: </p>
                <table class="top_10_tables">
                    <tr>
                        <th>State</th><th>Cases</th><th>Percent</th>
                    </tr>
                    {% for label in top_10_state_count_2 %}
                        <tr >
                            <td>{{ label.0 }}</td><td>{{ label.1 }}</td><td>{{ label.2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p class="mt"><button class="btn btn-white btn-theme" id="more_2">more</button></p>
            </div>
        </div>
    </div>


    <! -- ********** BLUE SECTION - CURIOUS ********** -->
    <div id="curious">
        <div class="row nopadding">
            <div class="col-md-5 col-md-offset-1 mt">
                <h4>Salary Distribution in New York Metro Area</h4>
                <p>
                    From October, 2007 till {{ end_mon }}, {{ end_year }}, there are {{ ny_perm }} cases come from
                    New York Metro Area, out of total {{ approved_perm }} PERM approved cases.
                </p>
                <p>Below is the Wage Statistics for New York Metro Area：</p>
                <table class="top_10_tables">
                    <tr>
                        <th> </th><th>Salary</th>
                    </tr>
                    <tr>
                        <td>Average</td><td>{{ ny_mean }}</td>
                    </tr>
                    <tr>
                        <td>Median</td><td>{{ ny_median }}</td>
                    </tr>
                    <tr>
                        <td>std</td><td>{{ ny_std }}</td>
                    </tr>
                    <tr>
                        <td>Min</td><td>{{ ny_min }}</td>
                    </tr>
                    <tr>
                        <td>Max</td><td>{{ ny_max }}</td>
                    </tr>
                </table>
                <p class="mt"><button class="btn btn-white btn-theme" id="more_3">more</button></p>
            </div>

            <div class="col-md-6 pull-right">
                <div id="NY_bar" class="img-responsive aligncenter" alt="" data-effect="slide-right"></div>
            </div>
        </div>
    </div>

    <! -- ********** BLUE SECTION - MALIBU ********** -->
    <div id="malibu">
        <div class="row nopadding">
            <div class="col-md-6 pull-left">
                <div id="Year_line" class="img-responsive aligncenter" alt="" data-effect="slide-left"></div>
            </div>
            <div class="col-md-5 mt">
                <h4>Salary Distribution by Year</h4>
                <p>
                    From October, 2007 till {{ end_mon }}, {{ end_year }}, there are {{ approved_perm }} PERM approved
                    cases. The chart on the left is the average salary by year.
                </p>
                <p class="mt"><button class="btn btn-white btn-theme" id="more_4">more</button></p>
            </div>

        </div><! --row -->
    </div><! --/Malibu -->


    <! -- ********** BLUE SECTION - JELLY ********** -->
    <div id="jelly">
        <div class="row nopadding">
            <div class="col-md-5 col-md-offset-1 mt">
                <h4>Salary Distribution by State</h4>
                <p>From October, 2007 till {{ end_mon }}, {{ end_year }}, there are {{ approved_perm }} PERM approved
                    cases. The chart on the left is the average salary by year.</p>
                <p>Below is the Top ten highest median salary states: </p>
                <table class="top_10_tables">
                    <tr>
                        <th>State</th><th>Average</th><th>Median</th>
                    </tr>
                    {% for label in top_10_state_mean %}
                        <tr >
                            <td>{{ label.0 }}</td><td>{{ label.1 }}</td><td>{{ label.2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p class="mt"><button class="btn btn-white btn-theme" id="more_5">more</button></p>
            </div>

            <div class="col-md-6 mt centered" style="margin-top: 150px;">
                <h1 data-effect="slide-bottom">$ {{ top_state_median }}</h1>
                <h3>Highest Median Salary： {{ top_state_name }}</h3>
            </div>
        </div><! --/row -->
    </div><! --/Jelly -->

    <! -- ********** FOOTER ********** -->
    <div id="c">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 centered">
                    <p>
                        Made by  K.T. Chang | <a href="mailto:ktc312@nyu.edu">ktc312@nyu.edu</a>
                    </p>
                    <p>
                        Data Source: <a href="http://visadoor.com">visadoor</a> |
                        <a href="https://goo.gl/Djp8Rx">Raw Data</a> |
                        <a href="https://github.com/ktc312/tw_perm_data_analysis_web">Open Source</a>
                    </p>
                    <p> Last update： {{ last_update_time }} </p>
                </div>
            </div>
        </div>
    </div>

    {#  Hidden buttons  #}
    <a style="display: none" target="_blank" id="to_QA" href="https://en.wikipedia.org/wiki/Labor_certification"></a>
    <a style="display: none" id="to_Top_10_Companies_by_year" href="/tw_perm/working"></a>
    <a style="display: none" id="to_Top_10_States_by_year" href="/tw_perm/working"></a>
    <a style="display: none" id="to_by_area_and_year" href="/tw_perm/working"></a>
    <a style="display: none" id="to_by_year_more" href="/tw_perm/working"></a>
    <a style="display: none" id="to_by_state_more" href="/tw_perm/working"></a>

        <!-- JavaScripts -->
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static "tw_perm/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/retina-1.1.0.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/jquery.unveilEffects.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/raphael-min.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "tw_perm/js/morris-0.4.1.min.js" %}"></script>
    <script type="text/javascript">

        window.onload = init;

        function init(){
            var qa_button = document.getElementById("qa_button");
            var more_1 = document.getElementById("more_1");
            var more_2 = document.getElementById("more_2");
            var more_3 = document.getElementById("more_3");
            var more_4 = document.getElementById("more_4");
            var more_5 = document.getElementById("more_5");
            qa_button.onclick = to_qa_page;
            more_1.onclick = to_Top_10_Companies_by_year;
            more_2.onclick = to_Top_10_States_by_year;
            more_3.onclick = to_by_area_and_year;
            more_4.onclick = to_by_year_more;
            more_5.onclick = to_by_state_more;
        }
        function to_qa_page() {
            document.getElementById('to_QA').click();
        }
        function to_Top_10_Companies_by_year() {
            document.getElementById('to_Top_10_Companies_by_year').click();
        }
        function to_Top_10_States_by_year() {
            document.getElementById('to_Top_10_States_by_year').click();
        }
        function to_by_area_and_year() {
            document.getElementById('to_by_area_and_year').click();
        }
        function to_by_year_more() {
            document.getElementById('to_by_year_more').click();
        }
        function to_by_state_more() {
            document.getElementById('to_by_state_more').click();
        }

        var com_graph = Morris.Donut({
            element: 'top_10_com_donut',
            data: [
                {% for label in top_10_com_count %}
                    { label: '{{ label.0 }}', value: {{ label.1 }} },
                {% endfor %}
            ]
        });

        var state_graph = Morris.Donut({
            element: 'top_10_state_donut',
            data: [
                {% for label in top_10_state_count_1 %}
                    { label: '{{ label.0 }}', value: {{ label.1 }} },
                {% endfor %}
            ],
            backgroundColor: '#59ABE3',
            labelColor: '#fff',
            colors: ['#145214',
                     '#196619',
                     '#1f7a1f',
                     '#248f24',
                     '#29a329',
                     '#2eb82e',
                     '#47d147',
                     '#5cd65c',
                     '#70db70',
                     '#85e085']
        });

        var ny_bar = Morris.Bar({
            element: 'NY_bar',
            data: [
                    {% for label in ny_salary_dis %}
                        { y: "{{ label.0 }}", a: {{ label.1 }} },
                    {% endfor %}
            ],
            xkey: ['y'],
            ykeys: ['a'],
            gridTextColor: '#fff',
            gridLineColor:'#fff',
            labels: ['Cases'],
            barColors: ['#196619'],
            xLabelMargin: 50
        });

        var year_line = Morris.Line({
            element: 'Year_line',
            data: [
                    {% for label in years_mean_median %}
                        { y: "{{ label.0 }}", a: {{ label.1 }}, b:{{ label.2 }} },
                    {% endfor %}
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            gridTextColor: '#fff',
            gridLineColor:'#fff',
            labels: ['Mean', 'Median'],
            xLabels: "Year"
        });
    </script>
    </body>
</html>

